.body_front {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: 0;

	.logo {
		position: absolute;
		padding: 30px 50px;
		height: 50px;
		top: 0;
		left: 0;
		z-index: 2;
		img {
			height: 100%;
		}
	}
	.text {
		position: absolute;
		height: 30%;
		top:50%;
		color: #fff;
		font-size: 32px;
		font-family: $font_reg;
		text-align: center;
		width: 30%;
		left: 5%;
	}
}