body {
	font-family:$font_reg;
	font-size: 15px;
	color:#323C47;
	background:#F5F7FA;
}
.content_wp {
	width:calc(100% - 520px);
	position: absolute;
	height:calc(100% - 71px);
	overflow-y:scroll;
	left:240px;
	top:70px;
}
.content_wp_map {
	width:calc(100% - 520px);
	position: absolute;
	height:calc(100% - 71px);
	left:240px;
	top:70px;
}
.content_user {
	margin-top: 70px;
	padding: 20px 100px;
	#nav2 {
		margin: 0px;
		margin-bottom: 30px;
		float: left;
		margin-right: 40px;
	}
}
.content_ful {
	width:calc(100% - 240px);
	position: absolute;
	height:calc(100% - 71px);
	overflow-y:scroll;
	left:240px;
	top:70px;
}
.card_3_wp {
	padding:20px;
	.card_regional {
		margin: 10px;
		width: calc(33.3% - 60px);
		float: left;
	}
}
.card_3 {
	padding: 0;
	.card_regional {
		margin: 15px;
		margin-left: 0;
		width: calc(33.3% - 60px);
		float: left;
	}
}
.table_show {
	margin:20px;
	background:#fff;
	border-radius:5px;
	@include shadow(10px,0.05);
	&.table_show2 {
		margin: 0;
		.dataTables_filter {
			display: none;
		}
	}
}
.table_head {
	padding: 30px 40px;
	.info {
		float: left;
		height: 30px;
		line-height: 30px;
		margin-right: 30px;
		font-weight: bold;
	}
	.btn_add {
		border-radius:3px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		color: $black;
		background:$yellow;
		padding: 0 15px;
		position: relative;
		/* &:hover {
			opacity: 0.8;
		} */
		.add_file_drop {
			position: absolute;
			background:#fff;
			padding: 10px;
			@include shadow(10px,0.2);
			z-index: 7;
			top: 30px;
			left: 0;
			width: 200px;
			display: none;
			animation-name: fadeindua;
    		animation-duration: 0.5s;
			a {
				display: block;
				padding: 5px;
				color: $black;
				@include transition(0.5s);
				&:hover {
					color: $blue;
				}
			}
		}
		&:hover {
			.add_file_drop {
				display: block;
			}
		}
	}
}
.table_style {
	font-size: 13px;
	.action {
		text-align: center;	
		a {
			height: 20px;
			display: inline-block;
			margin-right: 10px;
			img {
				height: 100%;
			}
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
.label_status {
	background:$green;
	color:$black;
	height:25px;
	line-height:25px;
	border-radius:3px;
	width:100px;
	text-align:center;
	display:inline-block;
	font-size:12px;
	&.past,
	&.r_waiting {
		background:$red;
		color: #fff;
	}
	&.r_called {
		background: #FFE808;
		color: $black;
	}
	&.r_helped {
		background:$green;
		color:$black;
	}
}
.info_user {
	float: left;
	font-size:14px;
	margin-top:5px;
}
.btn_back {
	height: 35px;
	line-height:35px;
	background:#fff;
	border:4px solid #EAEEF4;
	display:inline-block;
	position: relative;
	border-radius:5px;
	padding: 0 30px 0 60px;
	color:$black;
	@include transition(0.5s);
	img {
		float: left;
		height: 10px;
		position: absolute;
		left: 20px;
		top: 13px;
	}
	&:hover {
		border-color:#CDD4DF;
	}
}
.form_import {
	h5 {
		margin-bottom: 10px;
	}
	.info {
		margin-top: 10px;
		width: 50%;
		font-size: 14px;
		span {
			color: #AAAEB2;
			font-size: 13px;
			display: block;
			margin-bottom: 20px;
		}
	}
}
.user,
.user_member {
	.box_img {
		float: left;
		width: 30px;
		border-radius:100px;
		overflow: hidden;
		margin-right: 5px;
		.img_con {
			line-height: 30px;
			background:#FFD54C;
			color: #000;
			font-weight: bold;
		}
	}
}

.user_member {
	height:30px;
	line-height: 30px;
	float: left;
	width:calc(50% - 20px);
	padding: 5px 0;
	text-align:left;
	font-size:13px;
	.box_img {
		margin-right: 15px;
	}
}
tr.box_modal_full2 {
	&:hover {
		background:#F5F7FA;
		cursor: pointer;
	}
}
.top_report_pop {
	text-align:left;
	font-weight:bold;
	.label_status {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
.member_left {
	float: left;
	width:500px;
	position: relative;
}
.member_right {
	position: absolute;
	right:0;
	width:300px;
	height:calc(100% - 40px);
	top:0;
	background:#EEF1F3;
	padding:20px 0;
	.title {
		font-weight: bold;
		font-size: 15px;
		text-align: left;
		padding: 10px 17px;
	}
}
.map_poi {
	.map_area {
		position: absolute;
		width: 100%;
		height: 100%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
.poi {
	position: absolute;
	.user_poi {
		width: 35px;
		border: 3px solid #FDD600;
		border-radius:100px;
		cursor: pointer;
		.box_img {
			position: relative;
			z-index: 2;
		}
		.pin {
			position: absolute;
			bottom: -15px;
			width: 25px;
			left: 7px;
			z-index: 1;
		}
		&:hover {
			opacity: 0.9;
		}
	}
	.info_poi {
		position: absolute;
		background:#fff;
		display: none;
		@include shadow(20px,0.1);
		padding: 15px;
		border-radius: 5px;
		width: 300px;
		font-size: 13px;
		z-index: 9999;
		left: 30px;
		bottom: 50px;
		.ip1 {
			float: left;
			width: 60px;
		}
		.ip2 {
			float: left;
		}
		.ip3 {
			float: right;
			width: calc(100% - 70px);
		}
	}
	&:hover {
		.info_poi {
			display: block;
		}
	}
}
.btn_lihat {
	border-radius: 3px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background: #f2f2f2;
    padding: 0 15px;
    position: relative;
    &:hover {
    	background: #D8D8D8;
    }
}
.tox .tox-dialog {
  height: 400px !important;
}
.tox-dialog__body-content {
  height: 400px !important;
}
.tox .tox-dialog__body {
	height: 250px !important;
}
.hapus {
	cursor: pointer;
	border:2px solid red;
	//border-radius: 100px;
	padding: 10px 13px;
	height: 25px;
}
.status_respon {
	border-radius: 3px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: green;
    padding: 0 15px;
    position: relative;
}
.status_respon_no {
	border-radius: 3px;
    height: 30px !important;
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: red;
    padding: 0 15px;
    position: relative;
}
.import {
	background:#f4f4f4;
	padding: 5px 15px;
	display: inline-block;
	margin-left: 15px;
	span {
		font-size: 12px;
		font-weight: bold;
		margin-right: 10px;
	}
	input[type=file] {
		width: 150px;
		margin-right: 10px;
	}
	.btn_add {
		border:0;
	}
}




