@font-face {
  font-family: avenirff;
  src: url("../fonts/AvenirNext-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: avenirff;
  src: url("../fonts/AvenirNext-DemiBold.ttf");
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.mr20 {
  margin-right: 20px;
}

.mt5 {
  margin-top: 5px;
}

.box_img {
  display: block;
  position: relative;
  width: 100%;
}

.box_img:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

/* Other ratios */
.ratio2_1:before {
  padding-top: 50%;
}

.ratio3_1:before {
  padding-top: 40%;
}

.ratio4_1:before {
  padding-top: 25%;
}

.ratio1_2:before {
  padding-top: 200%;
}

.ratio4_3:before {
  padding-top: 75%;
}

.ratio5_3:before {
  padding-top: 65%;
}

.ratio3_4:before {
  padding-top: 133%;
}

.ratio16_9:before {
  padding-top: 56.25%;
}

.ratio9_16:before {
  padding-top: 178%;
}

.ratio9_8:before {
  padding-top: 85%;
}

.ratio6_2:before {
  padding-top: 40%;
}

.m10 {
  margin: 10px;
}

.img_con {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Styling */
  text-align: center;
  vertical-align: center;
  overflow: hidden;
}

.img_con img {
  height: 100%;
}

.img_con iframe {
  height: 100%;
  width: 100%;
}

.bgfloat {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat_w {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop_w2 {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.graddown {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.body_front {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0;
}

.body_front .logo {
  position: absolute;
  padding: 30px 50px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 2;
}

.body_front .logo img {
  height: 100%;
}

.body_front .text {
  position: absolute;
  height: 30%;
  top: 50%;
  color: #fff;
  font-size: 32px;
  font-family: avenirff;
  text-align: center;
  width: 30%;
  left: 5%;
}
