@charset "UTF-8";
@font-face {
  font-family: avenirff;
  src: url("../fonts/AvenirNext-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: avenirff;
  src: url("../fonts/AvenirNext-DemiBold.ttf");
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.mr20 {
  margin-right: 20px;
}

.mt5 {
  margin-top: 5px;
}

.box_img {
  display: block;
  position: relative;
  width: 100%;
}

.box_img:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

/* Other ratios */
.ratio2_1:before {
  padding-top: 50%;
}

.ratio3_1:before {
  padding-top: 40%;
}

.ratio4_1:before {
  padding-top: 25%;
}

.ratio1_2:before {
  padding-top: 200%;
}

.ratio4_3:before {
  padding-top: 75%;
}

.ratio5_3:before {
  padding-top: 65%;
}

.ratio3_4:before {
  padding-top: 133%;
}

.ratio16_9:before {
  padding-top: 56.25%;
}

.ratio9_16:before {
  padding-top: 178%;
}

.ratio9_8:before {
  padding-top: 85%;
}

.ratio6_2:before {
  padding-top: 40%;
}

.m10 {
  margin: 10px;
}

.img_con {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Styling */
  text-align: center;
  vertical-align: center;
  overflow: hidden;
}

.img_con img {
  height: 100%;
}

.img_con iframe {
  height: 100%;
  width: 100%;
}

.bgfloat {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat_w {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop_w2 {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.graddown {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

@keyframes slideUp {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes slideUpdua {
  from {
    bottom: -400px;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideUp_ {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: 0;
  }
  to {
    top: -100px;
  }
}

@keyframes logohover {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -ms-transform: cale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Chrome, Safari, Opera */
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    -ms-transform: cale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
  }
}

@keyframes fadeindua {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 0.5s;
}

.animateout {
  animation-name: fadeout;
  animation-duration: 0.5s;
}

.animatein {
  animation-name: fadein;
  animation-duration: 0.5s;
}

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button.victoria-one {
  border: 2px solid #D24D57;
}

a.animated-button.victoria-one:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.fancybox-enabled {
  overflow: hidden;
}

.fancybox-enabled body {
  overflow: visible;
  height: 100%;
}

.fancybox-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.fancybox-container ~ .fancybox-container {
  z-index: 99992;
}

.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fancybox-outer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: .87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-caption-wrap,
.fancybox-infobar,
.fancybox-toolbar {
  position: absolute;
  direction: ltr;
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s, visibility 0s linear .25s;
  box-sizing: border-box;
}

.fancybox-show-caption .fancybox-caption-wrap,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s, visibility 0s;
}

.fancybox-infobar {
  top: 0;
  left: 50%;
  margin-left: -79px;
}

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox-toolbar {
  top: 0;
  right: 0;
}

.fancybox-stage {
  overflow: hidden;
  direction: ltr;
  z-index: 99994;
  -webkit-transform: translateZ(0);
}

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.fancybox-slide:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--current,
.fancybox-slide--next,
.fancybox-slide--previous {
  display: block;
}

.fancybox-slide--image {
  overflow: visible;
}

.fancybox-slide--image:before {
  display: none;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
  background: #000;
}

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
  background: #e5e3df;
}

.fancybox-slide--next {
  z-index: 99995;
}

.fancybox-slide > div {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
}

.fancybox-slide .fancybox-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-can-zoomOut .fancybox-image-wrap {
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-image-wrap {
  cursor: zoom-in;
}

.fancybox-can-drag .fancybox-image-wrap {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-dragging .fancybox-image-wrap {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content {
  padding: 0;
  width: 80%;
  height: 80%;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 88px);
  overflow: visible;
  background: #fff;
}

.fancybox-iframe {
  display: block;
  padding: 0;
  border: 0;
  height: 100%;
}

.fancybox-error,
.fancybox-iframe {
  margin: 0;
  width: 100%;
  background: #fff;
}

.fancybox-error {
  padding: 40px;
  max-width: 380px;
  cursor: default;
}

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font: 16px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
}

.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  z-index: 10;
  cursor: pointer;
}

.fancybox-close-small:after {
  content: "×";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background: #fff;
  transition: background .25s;
  box-sizing: border-box;
  z-index: 2;
}

.fancybox-close-small:focus:after {
  outline: 1px dotted #888;
}

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee;
}

.fancybox-slide--iframe .fancybox-close-small {
  top: 0;
  right: -44px;
}

.fancybox-slide--iframe .fancybox-close-small:after {
  background: transparent;
  font-size: 35px;
  color: #aaa;
}

.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: #fff;
}

.fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8));
  pointer-events: none;
}

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
  pointer-events: all;
}

.fancybox-caption a {
  color: #fff;
  text-decoration: underline;
}

.fancybox-button {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: transparent;
  color: #ddd;
  border-radius: 0;
  cursor: pointer;
  vertical-align: top;
  outline: none;
}

.fancybox-button[disabled] {
  cursor: default;
  pointer-events: none;
}

.fancybox-button,
.fancybox-infobar__body {
  background: rgba(30, 30, 30, 0.6);
}

.fancybox-button:hover:not([disabled]) {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.fancybox-button:after,
.fancybox-button:before {
  content: "";
  pointer-events: none;
  position: absolute;
  background-color: currentColor;
  color: currentColor;
  opacity: .9;
  box-sizing: border-box;
  display: inline-block;
}

.fancybox-button[disabled]:after,
.fancybox-button[disabled]:before {
  opacity: .3;
}

.fancybox-button--left:after,
.fancybox-button--right:after {
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
}

.fancybox-button--left:after {
  left: 20px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.fancybox-button--right:after {
  right: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fancybox-button--left {
  border-bottom-left-radius: 5px;
}

.fancybox-button--right {
  border-bottom-right-radius: 5px;
}

.fancybox-button--close:after,
.fancybox-button--close:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
}

.fancybox-button--close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fancybox-button--close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fancybox-arrow {
  position: absolute;
  top: 50%;
  margin: -50px 0 0;
  height: 100px;
  width: 54px;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 99995;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity .25s;
}

.fancybox-arrow:after {
  content: "";
  position: absolute;
  top: 28px;
  width: 44px;
  height: 44px;
  background-color: rgba(30, 30, 30, 0.8);
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 24px 24px;
}

.fancybox-arrow--right {
  right: 0;
}

.fancybox-arrow--left {
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fancybox-arrow--left:after,
.fancybox-arrow--right:after {
  left: 0;
}

.fancybox-show-nav .fancybox-arrow {
  opacity: .6;
}

.fancybox-show-nav .fancybox-arrow[disabled] {
  opacity: .3;
}

.fancybox-slide > .fancybox-loading {
  border: 6px solid rgba(99, 99, 99, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: a .8s infinite linear;
  animation: a .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

.fancybox-fx-slide.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--current {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
}

.fancybox-fx-fade.fancybox-slide--next,
.fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}

.fancybox-fx-rotate.fancybox-slide--previous {
  -webkit-transform: rotate(-1turn);
  transform: rotate(-1turn);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--next {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--current {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}

.fancybox-fx-circular.fancybox-slide--previous {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--next {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--current {
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0);
  opacity: 1;
}

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
}

@media (max-width: 800px) {
  .fancybox-infobar {
    left: 0;
    margin-left: 0;
  }
  .fancybox-button--left,
  .fancybox-button--right {
    display: none !important;
  }
  .fancybox-caption {
    padding: 20px 0;
    margin: 0;
  }
}

.fancybox-button--fullscreen:before {
  width: 15px;
  height: 11px;
  left: calc(50% - 7px);
  top: calc(50% - 6px);
  border: 2px solid;
  background: none;
}

.fancybox-button--pause:before,
.fancybox-button--play:before {
  top: calc(50% - 6px);
  left: calc(50% - 4px);
  background: transparent;
}

.fancybox-button--play:before {
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
}

.fancybox-button--pause:before {
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px;
}

.fancybox-button--thumbs,
.fancybox-thumbs {
  display: none;
}

@media (min-width: 800px) {
  .fancybox-button--thumbs {
    display: inline-block;
  }
  .fancybox-button--thumbs span {
    font-size: 23px;
  }
  .fancybox-button--thumbs:before {
    width: 3px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, inset 0 0 0 32px, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
  }
  .fancybox-thumbs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 220px;
    margin: 0;
    padding: 5px 5px 0 0;
    background: #fff;
    word-break: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    box-sizing: border-box;
    z-index: 99995;
  }
  .fancybox-show-thumbs .fancybox-thumbs {
    display: block;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 220px;
  }
  .fancybox-thumbs > ul {
    list-style: none;
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0;
  }
  .fancybox-thumbs > ul > li {
    float: left;
    overflow: hidden;
    max-width: 50%;
    padding: 0;
    margin: 0;
    width: 105px;
    height: 75px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 5px solid transparent;
    border-top-width: 0;
    border-right-width: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
  }
  li.fancybox-thumbs-loading {
    background: rgba(0, 0, 0, 0.1);
  }
  .fancybox-thumbs > ul > li > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .fancybox-thumbs > ul > li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    border: 4px solid #4ea7f9;
    z-index: 99991;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
    opacity: 1;
  }
}

.navbartop {
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #EAEAEA;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navbartop .logo {
  height: 20px;
  position: absolute;
  left: 50px;
  top: 20px;
}

.navbartop .logo img {
  height: 100%;
}

.navbartop .notif_top {
  width: 30px;
  height: 30px;
  background: #4DA1FF;
  border-radius: 5px;
  text-align: center;
  position: relative;
  float: right;
  margin-top: 20px;
}

.navbartop .notif_top img {
  height: 20px;
  margin-top: 5px;
}

.navbartop .notif_top .num {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #EB3C3C;
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 9px;
  border-radius: 100px;
  font-weight: bold;
}

.navbartop .user {
  position: relative;
  float: right;
  top: 20px;
  right: 30px;
  height: 30px;
  margin-left: 50px;
  padding-right: 30px;
  background: url(../images/arrow_down.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center right;
  line-height: 30px;
  cursor: pointer;
}

.navbartop .user .box_img {
  width: 30px;
  float: left;
  margin-right: 20px;
}

.navbartop .user .name {
  float: left;
  font-weight: bold;
  font-size: 14px;
}

.navbartop .user .user_drop {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 15px 0;
  display: none;
}

.navbartop .user .user_drop > div {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  animation-name: fadeindua;
  animation-duration: 0.5s;
}

.navbartop .user .user_drop > div a {
  display: block;
  color: #323C47;
  padding: 2px 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbartop .user .user_drop > div a:hover {
  color: #4DA1FF;
}

.navbartop .user:hover .user_drop {
  display: block;
}

header {
  background: #fff;
  border-right: 1px solid #EAEAEA;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  z-index: 6;
}

header .logo {
  margin-left: 30px;
  height: 50px;
  display: block;
  margin-top: 10px;
}

header .logo img {
  height: 100%;
}

header nav {
  margin-top: 70px;
  overflow-y: scroll;
  position: absolute;
  height: calc(100% - 150px);
  width: 100%;
  padding-bottom: 30px;
}

header nav a,
header nav > div {
  display: block;
  padding: 12px 30px;
  font-weight: bold;
  color: #323C47;
  position: relative;
  cursor: pointer;
}

header nav a.menu_show .menu,
header nav > div.menu_show .menu {
  background-image: url(../images/arrow_down2.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center right;
  display: block;
}

header nav a .ico,
header nav > div .ico {
  height: 18px;
  width: 24px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

header nav a .ico img,
header nav > div .ico img {
  height: 100%;
  display: inline-block;
}

header nav a .sign,
header nav > div .sign {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  background: #138EE9;
  width: 5px;
  height: 35px;
  left: 0;
  top: 2px;
  -webkit-box-shadow: 0px 0px 10px 0px #138ee9;
  -moz-box-shadow: 0px 0px 10px 0px #138ee9;
  box-shadow: 0px 0px 10px 0px #138ee9;
  animation-name: fadeindua;
  animation-duration: 0.5s;
  display: none;
}

header nav a .submenu,
header nav > div .submenu {
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

header nav a .submenu a,
header nav > div .submenu a {
  padding: 5px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav a .submenu a:hover,
header nav > div .submenu a:hover {
  color: #4DA1FF;
}

header nav a:hover, header nav a.selected,
header nav > div:hover,
header nav > div.selected {
  color: #138EE9;
}

header nav a:hover .sign, header nav a.selected .sign,
header nav > div:hover .sign,
header nav > div.selected .sign {
  display: block;
}

header nav a.selected .submenu,
header nav > div.selected .submenu {
  display: block;
}

#nav2 {
  margin: 20px;
  margin-bottom: 0;
  padding: 10px;
  background: #EAEEF4;
  border-radius: 5px;
  display: inline-block;
}

#nav2 a {
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  color: #959BA3;
  padding: 5px 10px;
  float: left;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 13px;
}

#nav2 a:hover, #nav2 a.selected {
  background: #fff;
  color: #323C47;
}

#nav2 .nav3 {
  background: #fff;
  border-radius: 5px;
  padding: 3px;
  position: relative;
  margin-top: -3px;
}

#nav2 .nav3 a {
  padding: 5px 20px;
}

#nav2 .nav3 .tambah {
  background: orange;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  padding: 0;
  text-align: center;
  line-height: 25px;
  margin: 7px;
}

#nav2 .nav3 .tambah:hover {
  background: blue;
}

.notification_box {
  position: fixed;
  right: 0;
  top: 70px;
  width: 280px;
  background: #fff;
  height: calc(100% - 70px);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.notification_box .nb_head {
  margin: 30px;
  font-size: 14px;
  color: #959BA3;
}

.notification_box .nb_head .icon {
  width: 56px;
  height: 56px;
  background: #4DA1FF;
  border-radius: 5px;
  text-align: center;
  position: relative;
  float: left;
  margin-right: 20px;
}

.notification_box .nb_head .icon img {
  height: 30px;
  margin-top: 12px;
}

.notification_box .nb_head .icon .num {
  position: absolute;
  top: -7px;
  right: -7px;
  background: #EB3C3C;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  border-radius: 100px;
  font-weight: bold;
}

.notification_box .nb_head strong {
  display: block;
  font-size: 15px;
  color: #323C47;
  padding-top: 10px;
}

.notification_box .list_notif_box {
  position: absolute;
  height: calc(100% - 110px);
  overflow-y: scroll;
}

.notification_box .list_notif_box .list_notif {
  padding: 10px 15px 10px 30px;
  font-size: 13px;
  font-weight: 200;
  position: relative;
}

.notification_box .list_notif_box .list_notif .bullet {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  border: 4px solid #37D084;
  position: absolute;
  background: #fff;
  z-index: 2;
  top: 32px;
}

.notification_box .list_notif_box .list_notif .line {
  position: absolute;
  background: #c5cbd0;
  left: 35px;
  height: 100%;
  width: 3px;
}

.notification_box .list_notif_box .list_notif .time {
  margin-left: 25px;
  font-size: 12px;
  color: #323C47;
  margin-bottom: 5px;
}

.notification_box .list_notif_box .list_notif .info {
  margin-left: 25px;
}

.notification_box .list_notif_box .list_notif .info strong {
  color: #EB3C3C;
}

.notification_box .list_notif_box .list_notif .info .il {
  float: left;
  width: 60px;
}

.notification_box .list_notif_box .list_notif:first-child .bullet {
  border-color: #CFCDD0;
  background: #CFCDD0;
  top: 0;
}

body {
  font-family: avenirff;
  font-size: 15px;
  color: #323C47;
  background: #F5F7FA;
}

.content_wp {
  width: calc(100% - 520px);
  position: absolute;
  height: calc(100% - 71px);
  overflow-y: scroll;
  left: 240px;
  top: 70px;
}

.content_wp_map {
  width: calc(100% - 520px);
  position: absolute;
  height: calc(100% - 71px);
  left: 240px;
  top: 70px;
}

.content_user {
  margin-top: 70px;
  padding: 20px 100px;
}

.content_user #nav2 {
  margin: 0px;
  margin-bottom: 30px;
  float: left;
  margin-right: 40px;
}

.content_ful {
  width: calc(100% - 240px);
  position: absolute;
  height: calc(100% - 71px);
  overflow-y: scroll;
  left: 240px;
  top: 70px;
}

.card_3_wp {
  padding: 20px;
}

.card_3_wp .card_regional {
  margin: 10px;
  width: calc(33.3% - 60px);
  float: left;
}

.card_3 {
  padding: 0;
}

.card_3 .card_regional {
  margin: 15px;
  margin-left: 0;
  width: calc(33.3% - 60px);
  float: left;
}

.table_show {
  margin: 20px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.table_show.table_show2 {
  margin: 0;
}

.table_show.table_show2 .dataTables_filter {
  display: none;
}

.table_head {
  padding: 30px 40px;
}

.table_head .info {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.table_head .btn_add {
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #323C47;
  background: #FFC808;
  padding: 0 15px;
  position: relative;
  /* &:hover {
			opacity: 0.8;
		} */
}

.table_head .btn_add .add_file_drop {
  position: absolute;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 7;
  top: 30px;
  left: 0;
  width: 200px;
  display: none;
  animation-name: fadeindua;
  animation-duration: 0.5s;
}

.table_head .btn_add .add_file_drop a {
  display: block;
  padding: 5px;
  color: #323C47;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.table_head .btn_add .add_file_drop a:hover {
  color: #4DA1FF;
}

.table_head .btn_add:hover .add_file_drop {
  display: block;
}

.table_style {
  font-size: 13px;
}

.table_style .action {
  text-align: center;
}

.table_style .action a {
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.table_style .action a img {
  height: 100%;
}

.table_style .action a:hover {
  opacity: 0.6;
}

.label_status {
  background: #08FF93;
  color: #323C47;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

.label_status.past, .label_status.r_waiting {
  background: #EB3C3C;
  color: #fff;
}

.label_status.r_called {
  background: #FFE808;
  color: #323C47;
}

.label_status.r_helped {
  background: #08FF93;
  color: #323C47;
}

.info_user {
  float: left;
  font-size: 14px;
  margin-top: 5px;
}

.btn_back {
  height: 35px;
  line-height: 35px;
  background: #fff;
  border: 4px solid #EAEEF4;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 0 30px 0 60px;
  color: #323C47;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn_back img {
  float: left;
  height: 10px;
  position: absolute;
  left: 20px;
  top: 13px;
}

.btn_back:hover {
  border-color: #CDD4DF;
}

.form_import h5 {
  margin-bottom: 10px;
}

.form_import .info {
  margin-top: 10px;
  width: 50%;
  font-size: 14px;
}

.form_import .info span {
  color: #AAAEB2;
  font-size: 13px;
  display: block;
  margin-bottom: 20px;
}

.user .box_img,
.user_member .box_img {
  float: left;
  width: 30px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 5px;
}

.user .box_img .img_con,
.user_member .box_img .img_con {
  line-height: 30px;
  background: #FFD54C;
  color: #000;
  font-weight: bold;
}

.user_member {
  height: 30px;
  line-height: 30px;
  float: left;
  width: calc(50% - 20px);
  padding: 5px 0;
  text-align: left;
  font-size: 13px;
}

.user_member .box_img {
  margin-right: 15px;
}

tr.box_modal_full2:hover {
  background: #F5F7FA;
  cursor: pointer;
}

.top_report_pop {
  text-align: left;
  font-weight: bold;
}

.top_report_pop .label_status {
  position: absolute;
  top: 20px;
  right: 20px;
}

.member_left {
  float: left;
  width: 500px;
  position: relative;
}

.member_right {
  position: absolute;
  right: 0;
  width: 300px;
  height: calc(100% - 40px);
  top: 0;
  background: #EEF1F3;
  padding: 20px 0;
}

.member_right .title {
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding: 10px 17px;
}

.map_poi .map_area {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map_poi .map_area iframe {
  width: 100%;
  height: 100%;
}

.poi {
  position: absolute;
}

.poi .user_poi {
  width: 35px;
  border: 3px solid #FDD600;
  border-radius: 100px;
  cursor: pointer;
}

.poi .user_poi .box_img {
  position: relative;
  z-index: 2;
}

.poi .user_poi .pin {
  position: absolute;
  bottom: -15px;
  width: 25px;
  left: 7px;
  z-index: 1;
}

.poi .user_poi:hover {
  opacity: 0.9;
}

.poi .info_poi {
  position: absolute;
  background: #fff;
  display: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  width: 300px;
  font-size: 13px;
  z-index: 9999;
  left: 30px;
  bottom: 50px;
}

.poi .info_poi .ip1 {
  float: left;
  width: 60px;
}

.poi .info_poi .ip2 {
  float: left;
}

.poi .info_poi .ip3 {
  float: right;
  width: calc(100% - 70px);
}

.poi:hover .info_poi {
  display: block;
}

.btn_lihat {
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background: #f2f2f2;
  padding: 0 15px;
  position: relative;
}

.btn_lihat:hover {
  background: #D8D8D8;
}

.tox .tox-dialog {
  height: 400px !important;
}

.tox-dialog__body-content {
  height: 400px !important;
}

.tox .tox-dialog__body {
  height: 250px !important;
}

.hapus {
  cursor: pointer;
  border: 2px solid red;
  padding: 10px 13px;
  height: 25px;
}

.status_respon {
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: green;
  padding: 0 15px;
  position: relative;
}

.status_respon_no {
  border-radius: 3px;
  height: 30px !important;
  line-height: 30px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: red;
  padding: 0 15px;
  position: relative;
}

.import {
  background: #f4f4f4;
  padding: 5px 15px;
  display: inline-block;
  margin-left: 15px;
}

.import span {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.import input[type=file] {
  width: 150px;
  margin-right: 10px;
}

.import .btn_add {
  border: 0;
}

.card_regional {
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.card_regional h2 {
  font-size: 18px;
  color: #323C47;
}

.card_regional .mail {
  font-size: 12px;
  color: #959BA3;
}

.card_regional .info {
  border: 1px solid #c5cbd0;
  border-radius: 5px;
  margin-top: 15px;
}

.card_regional .info .active,
.card_regional .info .past {
  width: calc(50% - 51px);
  padding: 10px 25px;
  float: left;
  font-size: 13px;
  border-right: 1px solid #c5cbd0;
  color: #323C47;
}

.card_regional .info .active strong,
.card_regional .info .past strong {
  color: #4DA1FF;
  font-size: 22px;
  display: block;
}

.card_regional .info .past {
  border-right: 0;
}

.card_regional .info .past strong {
  color: #EB3C3C;
}

.list_attach {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}

.list_attach .ico {
  background: #c5cbd0;
  height: 12px;
  padding: 5px;
  float: left;
  margin-right: 15px;
  border-radius: 3px;
}

.list_attach .ico img {
  height: 100%;
}

.list_history {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 30px);
}

.list_history li {
  padding: 10px 15px 0;
  position: relative;
}

.list_history li .date {
  float: left;
  background: #FDD600;
  width: 40px;
  padding: 5px;
  text-align: center;
  color: #000;
  font-size: 12px;
  position: relative;
  z-index: 2;
  border: 3px solid #EEF1F3;
}

.list_history li .date strong {
  display: block;
  text-align: center;
  font-size: 15px;
}

.list_history li .line {
  position: absolute;
  height: 100%;
  width: 5px;
  background: #FDD600;
  left: 41px;
}

.list_history li .info_history {
  float: right;
  width: calc(100% - 65px);
}

.list_history li .info_history .list_time {
  background: #fff;
  padding: 7px 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 12px;
  color: #000;
}

.list_history li .info_history .list_time .time {
  font-size: 11px;
  color: #7A7A7A;
}

.select-style {
  border: 0;
  border: 1px solid #c5cbd0;
  border-radius: 5px;
  width: 200px;
  overflow: hidden;
  font-size: 15px;
  padding: 0 5px;
  height: 40px;
  position: relative;
}

.select-style span {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 50px;
  background: #F9FDFF url(../images/arrow_down2.png) no-repeat center;
  border-left: 1px solid #c5cbd0;
}

.select-style select {
  padding: 10px 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  outline: none;
  font-family: avenirff;
  font-size: 13px;
}

.select-style.select-style-date {
  width: calc(100% - 20px);
}

.select-style.select-style-date input {
  border: 0;
}

.select-style.select-style-date span {
  background: #F9FDFF url(../images/ico_date.png) no-repeat center;
  background-size: 15px;
}

.select-style.select-style-full {
  width: calc(100% - 20px);
}

.form-group {
  text-align: left;
}

.form-group strong {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 13px;
}

.form-group input,
.form-group textarea {
  border: 1px solid #c5cbd0;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 10px);
  outline: none;
  font-size: 15px;
  font-family: avenirff;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #4DA1FF;
}

.form-group input.col2 {
  width: 40%;
  margin: 0;
}

.form-group .radiobox {
  border: 1px solid #c5cbd0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.form-group .radiobox label {
  float: left;
  margin-right: 20px;
  font-size: 14px;
}

.form-group .radiobox label input {
  float: left;
  width: auto;
  margin-right: 10px;
}

.form-group .info {
  font-size: 13px;
  color: #808FA3;
}

.form-group .btn_add_plus {
  border-radius: 3px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  color: #323C47;
  background: #FFC808;
  padding: 0 10px;
  position: relative;
  margin-left: 20px;
}

.form-group .btn_add_plus input {
  display: none;
}

.form-group-col-2 {
  float: left;
  margin-right: 10px;
  width: calc(50% - 10px);
}

.btn_save,
.btn_cancel {
  border: 0;
  padding: 10px 15px;
  background: #4DA1FF;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.btn_save:hover,
.btn_cancel:hover {
  opacity: 0.8;
}

.btn_save.btn_done,
.btn_cancel.btn_done {
  background: #EFEFF0;
  color: #323C47;
}

.btn_cancel {
  background: #c5cbd0;
  color: #323C47;
}

.notif {
  padding: 5px 10px;
  border: 1px solid red;
  font-size: 13px;
  color: red;
  margin-bottom: 20px;
}

.notif.notif_green {
  border-color: green;
  color: green;
}

.select_file {
  border-radius: 5px;
  width: 400px;
  border: 1px solid #E9EFF4;
  height: 35px;
  line-height: 35px;
  position: relative;
  display: inline-block;
  background: #fff;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}

.select_file .browse {
  border-left: 1px solid #E9EFF4;
  background: #F9FDFF;
  position: absolute;
  height: 35px;
  padding: 0 20px;
  line-height: 35px;
  right: 0;
  top: 0;
}

.select_file input {
  display: none;
}

.select_file #muncul {
  padding-left: 20px;
}

.inactive_switch {
  position: absolute;
  right: 20px;
  top: 20px;
}

.inactive_switch > span,
.inactive_switch > div {
  float: left;
  margin: 0 5px;
}

.inactive_switch > span {
  font-size: 12px;
  font-weight: bold;
}

.inactive_switch > span.off {
  color: #EB3C3C;
}

.inactive_switch > div {
  margin-top: 2px;
}

.flipswitch {
  position: relative;
  width: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.flipswitch input[type=checkbox] {
  display: none;
}

.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #999999;
  border-radius: 50px;
}

.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 13px;
  padding: 0;
  line-height: 13px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flipswitch-inner:before {
  content: "";
  padding-left: 12px;
  background-color: #96FFC7;
  color: #FFFFFF;
}

.flipswitch-inner:after {
  content: "";
  padding-right: 12px;
  background-color: #E6E6E6;
  color: #888888;
  text-align: right;
}

.flipswitch-switch {
  width: 19px;
  margin: -3px;
  background: #9B9B9B;
  border: 0px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
  background: #0BC473;
}

.form_1 {
  padding: 10px 40px 30px;
}

.notif_bar {
  color: green;
  font-weight: bold;
}

.notif_bar.notif_bar_fail {
  color: red;
}

.body_pop {
  background: rgba(0, 0, 0, 0.8);
  padding-top: 0;
}

.body_pop2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

.pop_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: scroll;
  font-size: 13px;
}

.pop_box iframe {
  width: 100%;
  height: 100%;
  background: none;
}

.pop_bg {
  position: absolute;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  width: 850px;
  background: #fff;
  height: 400px;
  left: calc(50% - 425px);
  top: calc(50% - 200px);
  border: 1px solid #fff;
}

.pop_box_content {
  width: 500px;
  display: inline-block;
  background: #fff;
  padding: 20px 30px;
  position: relative;
  z-index: 20;
  margin-top: 30px;
  border-radius: 5px;
}

.pop_box_content.pop_box_content_member {
  width: 800px;
}

.popbox_bg_close {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 16;
  background: rgba(0, 0, 0, 0.5);
}

.close_box_out {
  position: fixed;
  height: 15px;
  padding: 15px;
  right: 0;
  top: 0;
  border-radius: 100px;
  margin: 30px;
  cursor: pointer;
  z-index: 5;
}

.close_box_out:hover {
  background: red;
}

.offer_cc {
  text-align: center;
  line-height: 130%;
}

.offer_cc h2 {
  line-height: 110%;
  margin-bottom: 20px;
}

.foto {
  margin: 15px 0;
}

.foto img {
  height: 150px;
}

/*s:popup notification*/
.alertify,
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
}

.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */
}

.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */
}

.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.alertify-cover-hidden {
  display: none;
}

.alertify {
  position: fixed;
  z-index: 99999;
  top: 30%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  opacity: 1;
}

.alertify-hidden {
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px);
  opacity: 0;
  display: none;
}

/* overwrite display: none; for everything except IE6-8 */
:root * > .alertify-hidden {
  display: block;
  visibility: hidden;
}

.alertify-logs-hidden {
  display: none;
}

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.alertify-inner {
  text-align: center;
}

.alertify {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 20px;
}

.alertify-dialog {
  background: #ffffff;
  padding: 0;
}

.alertify-message {
  padding: 30px 10px 10px;
  font-size: 18px;
  color: #3d3d3d;
  font-weight: bold;
  margin: 0;
}

.alertify-buttons {
  padding: 10px;
  border-radius: 100px;
  font-weight: bold;
}

.alertify-text {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px;
}

.alertify-button {
  color: #000;
  padding: 10px 30px;
  font-size: 12px;
  text-decoration: none;
  outline: none;
  margin-left: 5px;
  background: #4DA1FF;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.alertify-button:hover {
  opacity: 0.8;
}

.alertify-button-cancel {
  background: #c5cbd0;
  color: #323C47;
}

/*e:popup notification*/
/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}

table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}

table.dataTable tbody tr {
  background-color: #ffffff;
}

table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}

table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}

table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}

table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}

table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}

table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}

table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}

table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}

table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}

table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}

table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}

table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}

.dataTables_wrapper .dataTables_length {
  float: left;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333;
}

.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead > table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}

/* s:custom */
.dataTables_length {
  display: none;
}

table.dataTable thead {
  background: #E9EFF4;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-position: 90%;
}

table.dataTable thead .arrow_non {
  background-image: none !important;
}

table.dataTable thead th:last-child {
  width: 100px !important;
}

table.dataTable thead th,
table.dataTable tbody td {
  padding: 15px;
  border-top: 1px solid #D8E2E7;
  border-bottom: 1px solid #D8E2E7;
}

table.dataTable tbody td {
  border-top: 0;
}

table.dataTable.no-footer {
  border-bottom: 0;
}

.dataTables_info {
  padding: 15px 30px !important;
  font-size: 13px;
}

.dataTables_paginate {
  font-size: 13px;
  padding: 10px 20px;
}

.dataTables_wrapper .dataTables_paginate {
  padding: 10px 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 4px 8px;
  border: 0 !important;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #c5cbd0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #4DA1FF;
  color: #fff !important;
  border: 0;
}

.dataTables_wrapper .dataTables_filter label input {
  border: 0;
  border-bottom: 1px solid #959BA3;
  position: relative;
  margin-top: -65px;
  margin-bottom: 10px;
  margin-right: 30px;
  width: 300px;
  outline: none;
  height: 40px;
  font-family: avenirff;
  font-size: 15px;
  background: url(../images/ico_search.png) no-repeat left center;
  background-size: 20px;
  padding-left: 30px;
}

table.dataTable thead .sorting,
.sorting_desc,
.sorting_asc {
  text-align: left;
}

.arrow_non {
  text-align: center !important;
}

.sorting_1 p {
  margin: 0;
  padding: 0;
}

/* Default styling for jQuery Datepicker v4.0.5. */
.datepick-rtl {
  direction: rtl;
}

.datepick-popup {
  z-index: 1000;
  opacity: 1;
  width: 250px;
}

.datepick-popup .datepick {
  border: 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.datepick-disable {
  position: absolute;
  z-index: 100;
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.datepick a {
  color: #000;
  text-decoration: none;
}

.datepick a.datepick-disabled {
  color: #888;
  cursor: auto;
}

.datepick button {
  margin: 0.25em;
  padding: 0.125em 0em;
  background-color: #fcc;
  border: none;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  font-weight: bold;
}

.datepick-nav, .datepick-ctrl {
  float: left;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 90%;
  font-weight: bold;
}

.datepick-cmd {
  width: 20%;
}

.datepick-cmd:hover {
  background-color: #0098eb;
  color: #fff;
}

.datepick-ctrl .datepick-cmd:hover {
  background-color: #0081c8;
}

.datepick-cmd-prevJump, .datepick-cmd-nextJump {
  width: 8%;
}

a.datepick-cmd {
  padding: 5px 8px;
  display: inline-block;
}

button.datepick-cmd {
  text-align: center;
}

.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
  float: left;
  padding-left: 2%;
}

.datepick-cmd-current, .datepick-cmd-today {
  float: left;
  width: 30%;
  text-align: center;
}

.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
  float: right;
  padding-right: 2%;
  text-align: right;
}

.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
  float: right;
  padding-left: 0%;
  padding-right: 2%;
  text-align: right;
}

.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
  float: right;
}

.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
  float: left;
  padding-left: 2%;
  padding-right: 0%;
  text-align: left;
}

.datepick-cmd-next,
.datepick-cmd-prev {
  width: 15%;
}

.datepick-cmd-today {
  width: 40%;
  text-align: center;
}

.datepick-month-nav {
  float: left;
  text-align: center;
}

.datepick-month-nav div {
  float: left;
  width: 12.5%;
  margin: 1%;
  padding: 1%;
}

.datepick-month-nav span {
  color: #888;
}

.datepick-month-row {
  clear: left;
}

.datepick-month {
  float: left;
  width: 15em;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 5px;
}

.datepick-month-header {
  height: 25px;
}

.datepick-month-header select, .datepick-month-header input {
  border: none;
  width: 48%;
  float: left;
  font-size: 10px;
}

.datepick-month-header select {
  border: 1px solid #ccc;
  margin-right: 2px;
  border-radius: 0;
}

.datepick-month-header input {
  position: absolute;
  display: none;
}

.datepick-month table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
}

.datepick-month thead {
  border-bottom: 1px solid #aaa;
}

.datepick-month th, .datepick-month td {
  text-align: center;
  margin: 0;
}

.datepick-month th, .datepick-month th a {
  color: #000;
}

.datepick-month td.datepick-week {
  border: 1px solid #777;
}

.datepick-month td.datepick-week * {
  background-color: #777;
  color: #fff;
  border: none;
}

.datepick-month a {
  display: block;
  width: 100%;
  padding: 3px 0px;
  color: #000;
  text-decoration: none;
}

.datepick-month span {
  display: block;
  width: 100%;
}

.datepick-month td span {
  color: #888;
}

.datepick-month td .datepick-other-month {
  background-color: #fff;
}

.datepick-month td .datepick-today {
  background-color: #0081c8;
  color: #fff;
}

.datepick-month td .datepick-highlight {
  background-color: #0081c8;
  color: #fff;
}

.datepick-month td .datepick-selected {
  background-color: #0081c8;
  color: #fff;
}

.datepick-month th.datepick-week {
  background-color: #0081c8;
  color: #fff;
}

.datepick-status {
  clear: both;
  background-color: #ddd;
  text-align: center;
}

.datepick-clear-fix {
  clear: both;
}

.datepick-cover {
  display: none;
  display/**/: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -1px;
  left: -1px;
  width: 100px;
  height: 100px;
}

#altOutput {
  border: none;
  resize: none;
}

.is-datepick {
  border: 1px solid #ccc;
}

.cover_login {
  background-color: #F2FBFF;
  background-size: cover;
}

.wp_login {
  width: 400px;
  background: url(../img/login_bg_box.png) bottom center no-repeat #fff;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
  text-align: center;
  color: #000;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.wp_login h1 {
  font-size: 24px;
  margin: 10px 0;
}

.wp_login .logo_login {
  height: 70px;
  margin-top: 20px;
}

.wp_login .link_bot {
  margin-top: 20px;
}

.wp_login .link_bot a {
  color: #000;
  font-weight: bold;
}

.wp_login .link_bot a:hover {
  text-decoration: underline;
}

.login_box .text_input {
  overflow: hidden;
  margin-top: 10px;
  text-align: left;
  padding: 0 30px;
}

.login_box .text_input strong {
  display: block;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  padding: 15px 0 5px;
}

.login_box .input,
.login_box select {
  background: transparent !important;
  padding: 5px 0;
  border: 0;
  width: 100%;
  margin: 0;
  outline: none;
  font-size: 18px;
  font-family: gotam, Helvetica, Arial, sans-serif;
  color: #000;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.login_box .input {
  border-bottom: 1px solid #eee;
  color: #000;
}

.login_box .input::selection {
  background: #2ecc71;
}

.login_box select {
  margin-left: 4px;
}

.login_box .btn_login {
  width: 60%;
  padding: 15px 0;
  background: #090;
  border: 1px solid #008100;
  color: #fff;
  font-family: gotam, Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.login_box .btn_login:hover {
  background: #008100;
}

input:-webkit-autofill {
  background: #000 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000;
}

.notif {
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  border-radius: 10px;
  margin: 20px 0;
  font-weight: bold;
}
